 .rcorners2 {
    border-radius: 10px; 
  }

  .shadow-arch-edges {
    position: relative;
    box-shadow: 0 12px 10px -12px hsla(0, 0%, 0%, 1);
  }

  .shadow-arch-edges:before, .shadow-arch-edges:after {
    position: absolute;
    content: "";
    width: 15%;
    bottom: 10px;
    box-shadow: 0 0 12px 10px hsla(0, 0%, 0%, .5);
    z-index: -10;
  }

  .shadow-arch-edges:before {
    left: 24px;
    transform: skewY(-12.5deg);
  }

  .shadow-arch-edges:after{
    right: 24px;
    transform: skewY(12.5deg);
  }

  .li{
    margin-bottom: 5px;
  }
body{
  background: aliceblue;
}


.navbar .brand {
/*max-height: 40px;*/
overflow: visible;
padding-top: 0;
padding-bottom: 0;
}
.navbar a.navbar-brand {padding: 5px 15px 8px; }

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
color: red;
background-color: transparent;
border-bottom: 5px solid red;
}
.navbar-inverse .navbar-nav > li > a {
color: black;
}

.nav > li > a:hover, .nav > li > a:focus {
color: red;
background-color: transparent;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
color: red;
background-color: transparent;
}

.shadow {
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

button.close {
position: absolute;
top: -12px;
right: 6px;
opacity: 1;
z-index: 100;
}

.daftar{
  color:white;
}

.daftar a:hover{
  color:red;
}

.navbar-inverse .navbar-toggle {
border-color: #333;
background: #333;
}

.mobile-nav li a{
  color:black;
}

.footer-grid{
  min-height:200px;
}

.footer-link li a{
  color:white;
}